@import "../libs/prefixes";

@include keyframes(shake) {
	50% {
		@include transform(translate(-.2rem, -.2rem))
	}

	100% {
		@include transform(translate(.2rem, .2rem))
	}
}

@include keyframes(fade-in) {
	from {
		opacity: .1;
	}
	to {
		opacity: 1;
	}
}

@include keyframes(fade-out) {
	to {
		opacity: 0;
	}
}

@keyframes slide-in {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
