@import "variables";
@import "../libs/prefixes";

.#{$prefix}listview {
  list-style: none;
  padding: 0;
  margin: 0;

  &[data-size=small] {
    .#{$prefix}listview-item {
      height: $listview-height*.8;
      line-height: $listview-height*.8;

    }

    .#{$prefix}listview-icon {
      width: $listview-height*.8;
      text-align: center;
    }
  }

  &[data-size=large] {
    .#{$prefix}listview-item {
      height: $listview-height*1.2;
      line-height: $listview-height*1.2;

    }

    .#{$prefix}listview-icon {
      width: $listview-height*1.2;
      text-align: center;
    }
  }

  &-item {
    height: $listview-height;
    line-height: $listview-height;

  }

  &-icon {
    width: $listview-height;
    text-align: center;
  }
}