@import "variables";
@import "../libs/prefixes";

.#{$prefix}menuview {
	list-style: none;
	padding: 0;
	margin: 0;
	//background: white;

	@mixin popped-sub-menu {
		.#{$prefix}menuview {
			min-width: max-content;
			display: none;
			position: absolute;
			left: 100%;
			top: 0;
			box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.4), 5px 5px 5px 0px rgba(0, 0, 0, 0.4);

			.#{$prefix}menuview {
				&-icon {
					display: none;
				}

				&-label {
					padding: 0 25px 0 20px;
				}

				&-label, &-extra {
					display: block;
				}
			}
		}

	}

	.#{$prefix}menuview {
		display: none;
	}

	& > li {
		position: relative;
	}

	&-item {
		height: $menuview-height;
		line-height: $menuview-height;

		&[data-active="true"] {
			color: #0f97fe;
		}

		&:hover {
			background: #eeeeee;

			& + .#{$prefix}menuview {
				.#{$prefix}menuview-pophead {
					background: #eeeeee;
				}
			}
		}
	}

	&-icon {
		width: $menuview-height;
		text-align: center;
	}

	&-pophead {
		font-weight: bold;
		display: none;
	}

	[data-fold="false"] {
		background: #f6f6f6;

		.#{$prefix}menuview {
			display: block;
			position: relative;
			background: inherit;
		}
	}

	[data-fold="true"] {
		&:hover {
			.#{$prefix}menuview {
				display: block;
				background: white;
			}
		}

		@include popped-sub-menu();
	}

	&[data-open="false"] {
		@include popped-sub-menu();

		.#{$prefix}menuview {
			&-label, &-extra {
				display: none;
			}
		}

		li {
			&:hover {
				.#{$prefix}menuview {
					display: block;

					&-pophead {
						display: block;
					}
				}
			}
		}
	}

	&[data-size="small"] {
		.#{$prefix}menuview-item {
			height: $menuview-height*.8;
			line-height: $menuview-height*.8;
		}

		.#{$prefix}menuview-icon {
			width: $menuview-height*.8;
			text-align: center;
		}
	}

	&[data-size="large"] {
		.#{$prefix}menuview-item {
			height: $menuview-height*1.2;
			line-height: $menuview-height*1.2;

		}

		.#{$prefix}menuview-icon {
			width: $menuview-height*1.2;
			text-align: center;
		}
	}
}
