@import "variables";
@import "../libs/prefixes";

.#{$prefix}select {
	padding: 0;
	transition: all .35s;
	margin: 0;

	&-arrow {
		transition: all .35s;
		line-height: inherit;
		padding: 0 5px;
	}

	input {
		padding: 0 5px;
	}

	&-container {
		display: inline-block;
		position: relative;
		margin: 2px;

		&[data-open='true'] {
			.#{$prefix}select-dropdown {
				transform: scaleY(1);
			}

			.#{$prefix}select-arrow {
				transform: rotate(-180deg);
			}
		}
	}

	&-dropdown {
		position: absolute;
		left: 0;
		margin: 2px;
		width: 100%;
		top: 100%;
		transform-origin: top;
		transition: all .35s;
		transform: scaleY(0);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
		max-height: 150px;
		overflow: auto;
	}
}
