@import "variables";
@import "../libs/prefixes";
@import "functions";

.#{$prefix}tag {
	display: inline-block;
	padding: 2px 4px;
	font-size: 90%;
	position: relative;
	border-radius: 4px;
	background: #d7d7d7;
	margin: 0 4px;
	line-height: $input-height-default * .9;

	&[data-removable=true] {
		padding-right: 14px;
	}

	&[data-size=small] {
		padding: {
			left: 2px;
		};
		line-height: $input-height-small * .9;
	}

	&[data-size=large] {
		padding: {
			left: 4px;
		};
		line-height: $input-height-large * .9;
	}

	&-remove {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		padding: 4px 2px;
		cursor: pointer;
	}

	@each $key, $color in $colorMap {
		&-#{$key} {
			@extend .#{$prefix}tag;
			background: $color;
			@if ($key==light) {
				color: black;
			} @else {
				color: white;
			}
			@if ($key!=light) {
				&:focus {
					outline-color: rgba(236, 236, 236, 0.62);
				}
			}
		}
	}
}
